:root {
  --first-color: #f9fbfc;
  --branding-color: #a0dbdb;
  --branding-deep-color: #56a7a7;
  --accent-color: #fcea90;
}

body {
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 96px;
  font-weight: 600;
  line-height: 1;
}

h2 {
  text-align: center;
}

img {
  border: 8px solid rgba(160, 219, 219, 0.7);
}

.btn-branding {
  background-color: var(--branding-deep-color);
  border: 1px solid var(--accent-color);
  border-radius: 6px;
  color: var(--accent-color);
  font-weight: 300;
  margin-left: 20px;
  padding: 10px 35px;
  transition: all 150ms ease-in-out;
}

.btn-branding:hover {
  cursor: pointer;
  color: var(--accent-color);
  font-size: 17px;
  padding: 12px 40px;
  margin-left: 15px;
  margin-top: -2px;
}

.greetings {
  font-weight: 300;
  font-size: 40px;
}

.hero {
  background-color: var(--branding-color);
}

.more-info {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 120px;
}

.skills-needed {
  font-weight: 300;
  margin: 5px;
  opacity: 70%;
  text-align: end;
}

@media (max-width: 1199px) {
  h1 {
    font-size: 80px;
  }

  .greetings {
    font-size: 37px;
  }

  .more-info {
    margin-bottom: 10px;
  }
}

@media (max-width: 991px) {
  h1 {
    font-size: 66px;
    font-weight: 700;
    line-height: 1.4;
  }

  .greetings {
    font-size: 32px;
  }

  .more-info {
    font-size: 20px;
    padding-right: 60px;
    margin-bottom: 10px;
  }

  .btn-branding {
    padding: 10px 33px;
    transition: all 150ms ease-in-out;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 48px;
  }

  .greetings {
    font-size: 26px;
  }

  .more-info {
    font-size: 16px;
    margin-bottom: 8px;
    padding-right: 0;
  }

  .btn-branding {
    font-size: 13px;
    padding: 8px 28px;
    transition: all 150ms ease-in-out;
  }

  .btn-branding:hover {
    font-size: 14px;
    padding: 10px 30px;
    margin-left: 17px;
    margin-top: -3px;
  }
}

@media (max-width: 575px) {
  h2 {
    font-size: 21px;
    line-height: 1;
  }

  .more-info {
    padding: 0;
    text-align: center;
  }

  .btn-branding {
    display: block;
    margin: 25px auto 0;
    max-width: 120px;
  }

  .btn-branding:hover {
    margin: 23px auto -2px;
    font-size: 14px;
    padding: 9px 32px;
    max-width: 128px;
  }
}

@media (max-width: 344px) {
  .skills-needed {
    font-size: 12px;
  }
}
